<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div>
    <ion-list>
    <ion-item-divider>계정설정</ion-item-divider>
      <ion-item>
        <ion-label>asdf</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>asdf</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>asdf</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>asdf</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>asdf</ion-label>
      </ion-item>
    </ion-list>
    <ion-item>계정 연결</ion-item>
    <ion-item>이메일과 연결하기</ion-item>
    <ion-item>SDmall과 연결하기</ion-item>
    <ion-item-divider>내 정보</ion-item-divider>
    <ion-item>상태바 알림</ion-item>
    <ion-item>GPS 설정</ion-item>
    <ion-item>운동 설정</ion-item>
    <ion-item-divider>프라이버시 설정</ion-item-divider>
    <ion-item>smilewalk</ion-item>
    <ion-item>smilewalk</ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>평가하러 가기</ion-item>
    <ion-item>친구에게 공유하기</ion-item>
    <ion-button color="danger" expand="block">로그아웃</ion-button>
  </div>

</ion-content>