<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      회원가입
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div>
    <ion-card>
      <ion-list>
        <ion-item>
          <ion-input placeholder="아이디" [(ngModel)]="userInfo.id" autofocus=""></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="비밀번호" [(ngModel)]="userInfo.passwd"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" placeholder="비밀번호 확인" [(ngModel)]="userInfo.passwd2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="이름" [(ngModel)]="userInfo.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="휴대폰번호" [(ngModel)]="userInfo.phone" (ionChange)="autoHypenPhone()">
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button expand="block" (click)="joinNow()">가입하기</ion-button>
  </div> -->
  <!-- <div id="map" style="width: 100%; height: 50%;"></div>
  <ion-label><b>Latitude:</b>{{latitude}}</ion-label><br />
  <ion-label><b>Longitude:</b>{{longitude}}</ion-label><br />
  <ion-label><b>Timestamp:</b>{{timestamp}}</ion-label><br />

  <div>

    <p>Lat: {{lat}}</p>
    <p>Lng: {{lng}}</p>
    <ion-button expand="block" (click)="whereIam()">내 위치 찾기</ion-button>
  </div> -->

  <div>
    <ion-list>
    <ion-item>
      <ion-label position="floating">아이디</ion-label>
      <ion-input [(ngModel)]="data.user_id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">비밀번호</ion-label>
      <ion-input [(ngModel)]="data.user_password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">이름</ion-label>
      <ion-input [(ngModel)]="data.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">나이</ion-label>
      <ion-input [(ngModel)]="data.age" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">휴대폰 번호</ion-label>
      <ion-input [(ngModel)]="data.phone" type="number"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="submitForm()" style="width: 100%;">등록</ion-button>
  </div>
  <div>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>아이디</ion-col>
        <ion-col>이름</ion-col>
        <ion-col>나이</ion-col>
        <ion-col>휴대폰번호</ion-col>
        <ion-col>Actions</ion-col>
      </ion-row>
      <div style="border-bottom: 1px solid; margin-bottom: 10px;"></div>
      <ion-row *ngFor="let item of studentsData" style="text-align: center;">
        <ion-col>{{ item.user_id }}</ion-col>
        <ion-col>{{ item.name }}</ion-col>
        <ion-col>{{ item.age }}</ion-col>
        <ion-col>{{ item.phone }}</ion-col>
        <ion-col>
          <ion-button color="success" size="small" routerLink='/test/{{item.id}}'>
            <ion-icon name="create"></ion-icon>
          </ion-button>
          <ion-button color="danger" size="small" (click)="delete(item)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>