<!-- <ion-header [translucent]="true">

  <ion-toolbar>
    <ion-grid>
      <ion-row style="position: relative;">
        <ion-col style="text-align: left;">
          <div>
            <a href="/">
              <ion-img src="../../assets/img/smilewalk.png" style="display: block; width: 150px; height: 60px;">
              </ion-img>
            </a>
          </div>
        </ion-col>
        <ion-col style="text-align: right;">
          <div style="display: inline-block;">
            <ion-button>
              <ion-icon name="calendar-outline"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="homebackground">
    <div>
    <ion-grid>
      <ion-row style="position: relative;">
        <ion-col style="text-align: right;">
          <ion-col>
            <ion-icon name="calendar-outline" size="large"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-icon name="ellipsis-vertical-outline" size="large"></ion-icon>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
    <div style="text-align: center;">
      <p>Smile Walk</p>
        <ion-grid>
          <ion-row>
            <ion-col col-4>칼로리</ion-col>
            <ion-col col-4>활동시간</ion-col>
            <ion-col col-4>거리(M)</ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-4>412</ion-col>
            <ion-col col-4>1h 56m</ion-col>
            <ion-col col-4>{{distance}}m</ion-col>
          </ion-row>
        </ion-grid>
    </div>
    <div style="text-align: center;">
      <p>오늘의 걸음</p>
      <b style="font-size: 50px;">{{todayStep}}</b>
        <ion-range min="0" max="10000" color="secondary" [(ngModel)]="todayStep" color="warning">
        </ion-range>
        <circle-progress [percent]="todayStep / 100"></circle-progress>
      <p>목표: 10000</p>
      <ion-button expand="block" color="secondary" (click)="stepAdd()">{{todayStep >= 10000? '오늘 걸음 끝' :'걸음추가'}}</ion-button>
      <ion-button expand="block" color="secondary" (click)="pointAdd()" *ngIf="todayStep >= 10000">{{state? '적립되었습니다' :'SDmall 500포인트 적립 받기'}}</ion-button>
      </div>
    

    
  </div>

  <!-- <ul>
    <li *ngFor="let obj of arr">
      {{ obj.number }}
      {{ obj.title }}
    </li>
  </ul> -->
  <!-- <ion-button color="success" expand="block" (click)="go()">testpage로 가기</ion-button>
  <button ion-button full icon-left (click)="startTracking()" *ngIf="!isTracking">
    <ion-icon name="locate"></ion-icon>
    Start Tracking
  </button>
  <button ion-button full icon-left (click)="stopTracking()" *ngIf="isTracking">
    <ion-icon name="hand"></ion-icon>
    Stop Tracking
  </button>

  <div #map></div>

  <ion-list>
    <ion-list-header>Previous Tracks</ion-list-header>
    <ion-item *ngFor="let route of previousTracks">
      {{ route.finished | date }}, {{ route.path.length }} Waypoints
      <Button ion-button clear item-end (click)="showHistoryRoute(route.path)">View</Button>
    </ion-item>
  </ion-list> -->

  <div>
    <ion-grid>
      <ion-segment [(ngModel)]="segment">
        <ion-col>
          <ion-segment-button value="numberSteps">걸음 수</ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="weight">체중</ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="heartRate">심박수</ion-segment-button>
        </ion-col>
        <ion-col>
          <ion-segment-button value="another">기타</ion-segment-button>
        </ion-col>
      </ion-segment>
    </ion-grid>
  </div>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'numberSteps'">
      <ion-item>
        <div>
          <p>평균</p>
          <p>총</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'weight'">
      <ion-item>
        <div>
          <p>최신: 65.0kg</p>
          <p>변경: 0.0kg</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'heartRate'">
      <ion-item>
        <div>
          <p>고혈압</p>
          <p>저혈압</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'another'">
      <ion-item>
        <div>
          <p>기타</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div style="margin: 5%;">
    <p>Lat: {{lat}}</p>
    <p>Lng: {{lng}}</p>
    <ion-button expand="block" (click)="whereIam()">내 위치 찾기</ion-button>
  </div>
</ion-content>