

.div_welcome {
    text-align: center;
    margin: 30px;
}

.div_info {
    margin: 50px;
    text-align: center;

}
.homebackground {
    text-align: center;
    // height: 80%;
    padding: 1%;
    margin: 0%;
    padding-bottom: 7%;
    color: white;
    border-radius: 0px 0px 30px 30px;
    background-image: linear-gradient( 200deg, #ffcd00 11.1%, #28939c 81.3%);
}
.homeRoot {
    text-align: center;
    margin: 0%;
}