<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-grid>
      <ion-row style="position: static;">
        <ion-col style="text-align: left;">
          <div>
            <a href="/">
              <ion-img src="../../assets/img/sdmallLogo.png" style="display: block; width: 120px; height: 60px;">
              </ion-img>
            </a>
          </div>
        </ion-col>
        <ion-col style="text-align: right;">
          <div style="display: inline-block;">
            <ion-button>
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-segment [(ngModel)]="segment">
      <ion-col>
        <ion-segment-button value="new">신상</ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button value="best">베스트</ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button value="swimglass">
          수경명품관
        </ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button value="outlet">아울렛</ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button value="event">이벤트</ion-segment-button>
      </ion-col>
      <ion-col>
        <ion-segment-button value="exerciseCheck">운동인증</ion-segment-button>
      </ion-col>
    </ion-segment>
  </ion-grid>

  <div [ngSwitch]="segment">
    <ion-list *ngSwitchCase="'new'">
      <ion-item>
        <div>
          <p>신상입니다.</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'best'">
      <ion-item>
        <div>
          <p>베스트 상품입니다.</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'swimglass'">
      <ion-item>
        <div>
          <p>수경명품관입니다.</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'outlet'">
      <ion-item>
        <div>
          <p>아울렛입니다.</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'event'">
      <ion-item>
        <div>
          <p>이벤트입니다.</p>
        </div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'exerciseCheck'">
      <ion-item>
        <div>
          <p>운동인증입니다.</p>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <ion-card>
    <ion-card-header>
      <div class="div_welcome">
        <ion-card-subtitle>{{ welcome }}</ion-card-subtitle>
        <h4>{{ smilepoint }} {{ smilepoint_num }} P</h4>
        <br />
        <ion-button color="primary" expand="block" (click)="addpoint()">포인트 적립</ion-button>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="div_info">
        <ion-icon name="happy-outline" size="large"></ion-icon>
        <h5>스마일 패스 안내</h5>
      </div>
    </ion-card-content>
  </ion-card>

  <ul>
    <li *ngFor="let obj of arr">
      {{ obj.number }}
      {{ obj.title }}
    </li>
  </ul>
  <ion-input type="number" [(ngModel)]="testnumber"></ion-input>
  <ion-button color="success" expand="block" (click)="go()">testpage로 가기</ion-button>
</ion-content>