<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">mypage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <ion-slides style="height: 100px; position: absolute;">

    <ion-slide style="background-color: aqua;">
      <div>
        <h2>배너배너1</h2>
      </div>
    </ion-slide>

    <ion-slide style="background-color: brown;">
      <h2>배너배너2</h2>
    </ion-slide>

    <ion-slide style="background-color: cornflowerblue">
      <h2>배너배너3</h2>
    </ion-slide>

    <ion-slide style="background-color: blueviolet;">
      <h2>배너배너4</h2>
    </ion-slide>
    
  </ion-slides>
</div>
</ion-content>
