<ion-header>
  <ion-toolbar>
    <ion-buttons mode="md" slot="start" style="position: absolute;">
      <ion-back-button defaultHref="/tabs/setting"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">프로필 설정</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label>박재성</ion-label>
      <ion-icon name="accessibility-outline"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-item-divider></ion-item-divider>
  <ion-list>
    <ion-item slot="start">
      <ion-label>키</ion-label>
      <ion-select (click)="heightSet()" [(ngModel)]="user.height">
        <ion-item-options>
        <ion-select-option *ngFor="let h of height" [value]="h">{{h}}cm</ion-select-option>
      </ion-item-options>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item slot="start">
      <ion-label>몸무게</ion-label>
      <ion-select (click)="weightSet()" [(ngModel)]="user.weight">
        <ion-item-options>
        <ion-select-option *ngFor="let w of weight" [value]="w">{{w}}kg</ion-select-option>
      </ion-item-options>
    </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item slot="start">
      <ion-label>성별</ion-label>
      <ion-select [(ngModel)]="user.sex">
        <ion-item-options>
          <ion-select-option [value]="1">남</ion-select-option>
          <ion-select-option [value]="0">여</ion-select-option>
      </ion-item-options>
    </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item slot="start">
      <ion-label>생년월일</ion-label>
      <ion-datetime [value]="1990-02-20" placeholder="Select Date"></ion-datetime>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button slot="start">
      <ion-label>이름 및 사진</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button slot="start" (click)="logout()">
      <ion-label>로그아웃</ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button slot="start" (click)="withdraw()">
      <ion-label>탈퇴하기</ion-label>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-label>{{user.height}}cm</ion-label>
    <ion-label>{{user.weight}}kg</ion-label>
    <ion-label>{{user.sex? '남' : '여'}}</ion-label>
  </ion-item>
</ion-content>
